header#header
  .inner
    a.logo(href='/home') Student based meal trade
    nav#nav
      a(href='/home') Home
      a(href='#') Generic
      a(href='#') Elements
a.navPanelToggle(href='#menu')
  span.fa.fa-bars