extends base

block content
    section#one
        .inner
            .align-center.email__sent
                h1 A verification link has been sent to your email address.
                p Please click the link in the email to reset your password.