extends base

block content
    section#one
        .wrapper
            .inner
                header
                    h2 Forgot your Password?
                form.form.form--forgot
                    .form__group
                        label.form__label(for='email') Email address
                        input#email.form__input(type='email', placeholder='you@example.com', required)
                    .form__group
                        button.btn.btn--green Send Email
