extends base
include _listing


block content
    section#banner
        .inner
            h1
                | Meal Trades: 
                span A way to get rid of your excess meal trade 
            ul.actions
                li
                    a.button.alt(href='#') Learn More
    // One
    section#one
        .inner
            //- header
            //-     h2 Current Offers
            .offers
                each offer in offers
                    +listing(offer)
