extends base

block content
    //- Creator Photo, name, tagline, (bio?)
    //- Listing information
    //- Side by side: location and time information, Location on a map, if there is a location
    //- action button. When clicked, if the user is logged in, proceed as normal, if user is not logged in, prompt them to log in or sign up. Rendered page has access to user.