<section id="one">
  <div class="inner">
    <header>
      <h2>Log In</h2>
    </header>
    <div class="form form--login">
      <div class="inner"></div>
    </div>
    <ul class="actions">
      <li><a href="#" class="button alt">Learn More</a></li>
    </ul>
  </div>
</section>

<!-- .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Login -->
